<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="@Url.Content("~/AdminDashboard/vendors/feather/feather.css")">
    <link rel="stylesheet" href="@Url.Content("~/AdminDashboard/vendors/ti-icons/css/themify-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/AdminDashboard/vendors/css/vendor.bundle.base.css")">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="@Url.Content("~/AdminDashboard/vendors/datatables.net-bs4/dataTables.bootstrap4.css")">
    <link rel="stylesheet" href="@Url.Content("~/AdminDashboard/vendors/ti-icons/css/themify-icons.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/AdminDashboard/js/select.dataTables.min.css")">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="@Url.Content("~/AdminDashboard/css/vertical-layout-light/style.css")">
    <!-- endinject -->
    <link rel="shortcut icon" href="@Url.Content("~/AdminDashboard/images/favicon.png" )"/>

</head>
<body>
    @RenderBody()

    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
        </div>
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.themewagon.com/" target="_blank">Themewagon</a></span>
        </div>
    </footer>

    <!-- plugins:js -->
    
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/AdminDashboard/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/AdminDashboard/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/AdminDashboard/js/dataTables.select.min.js"></script>
    <script src="~/AdminDashboard/vendors/js/vendor.bundle.base.js"></script>
    

    <!-- End plugin js for this page -->
    <!-- inject:js -->
   
    <script src="~/AdminDashboard/vendors/chart.js/Chart.min.js"></script>
    <script src="~/AdminDashboard/js/off-canvas.js"></script>
    <script src="~/AdminDashboard/js/hoverable-collapse.js"></script>
    <script src="~/AdminDashboard/js/template.js"></script>
    <script src="~/AdminDashboard/js/settings.js"></script>
    <script src="~/AdminDashboard/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/AdminDashboard/js/dashboard.js"></script>
    <script src="~/AdminDashboard/js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
</body>

</html>
